@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0px;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  position: relative;
  color: #fff;
      background-attachment: fixed;

}
.footer{
text-align: center;
    display: block;
    margin-bottom: 30px;
    margin-top: 10px;
}
.footer img, .footer a{
 max-width: 40px; 
    color: #fff;
    font-size: 13px;
}
.footer:hover{
 color: #fff;
}
.lastup {
    font-weight: 500;
    font-size: 12px;
    margin-top: 4px;
    line-height: 15px;
}
.dwtlh {
    margin-top: 10px ;
}
.dwtl {
    display: inline-block;
    width: 44px;
    margin: 13px 16px 7px 0px;
}
.dwtl img{
width: 100%;
}
button, input, select, textarea {
    border-radius: 20px;
    padding: 3px 10px;
    border: 1px solid #fff;
    background: transparent;
}
select option{
    background-color: #3E007E;
}
.bgovl {
    background: linear-gradient(to bottom, rgba(109,59,108,1) 0%,rgba(5,171,224,1) 100%);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .8;
    z-index: -1;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 104px;
    margin-right: 18px;
}
*, *::before, *::after {
    box-sizing: border-box;
}

p{
        font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    text-align: left;
	color:#000;
}

.section{
  margin-top:135px;
}
.containerc{
  width:90%;
  margin:auto;
  max-width:1420px;
}
.containerd{
  width:80%;
  margin:auto;
  max-width:1920px;
}


.news-item {
    display: inline-block;
    vertical-align: top;
    width: 10%;
    text-align: center;
    background: linear-gradient(344deg, #fffaf3, #f3e649);
    border: 3px solid #FFC107;
    border-radius: 12px;
    margin: auto 1% 40px 1%;
    position: relative;
    cursor: pointer;
    
}
.news-item:hover {
    transform: translateY(-5px);
}
.news-item .details {
    display: none;
    transition: all 0.3s ease;
}
.news-item h2 {
    font-size: 14px;
    margin: 3px 0px;
    font-weight: 800;
}
.news-item h2 div {
    font-size: 11px;
}
.news-item.active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 33%;
    max-width: 500px;
    background: linear-gradient(344deg, #fffaec, #fdce4c);
    color: #000;
    text-align: left;
}
.news-item.active .thumb {
    display: inline-block;
}
.news-item.active .news-txt {
    max-width: 48%;
    display: inline-block;
    padding-bottom: 0px;
    height: initial;
    vertical-align: middle;
}
.news-item.active .details {
    display: block;
}
.news-item.active .close-btn {
    display: block;
}
.news-item.active .thumb img {
    width: 65px;
}
.rfact {
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.rfact img {
    display: inline-block;
    margin: 0px 3px;
    width: 30px;
    height: 100%;
}
.news-item.active .rfact {
    position: initial;
    display: inline-block;
    transform: none;
}

.news-item.active .unme {
    font-size: 17px;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

.overlay.active {
    display: block;
}

/* Close Button */
.news-item .close-btn {
    position: absolute;
    top: -15px;
    right: -15px;
    background: red;
    color: white;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
    min-width: 40px;
    height: 40px;
    border: 2px solid #fff;
    display: none;
    font-weight: 900;
}

.news-item .close-btn:hover {
    background: darkred;
}
.thumb img{
width: 100%;
}
.sort{
  display:block;
}
.news-txt {
    padding: 3px 10px 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
}
.unme {
    font-weight: 800;
    color: #000;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
}
h1{
color: #fff;
font-weight: 800;
text-shadow: 0 2px 3px rgba(0, 0, 0, 0.38);
font-size: 30px;
}
h1 .colr1{
color: #FF00E0;
}
.tire {
    position: absolute;
    left: -11px;
    top: -8px;
    width: 52px;
    height: 33px;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 29px;
    font-size: 20px;
    border: 2px solid #fff;
    text-align: center;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.38);
}
.news-list{
display: block;
margin-bottom: 30px;
}
.filterset {
    margin: 30px 0px 40px 0px;
    font-weight: 700;
}
.sectitle {
    position: relative;
    font-size: 25px;
    font-weight: 800;
    margin: 20px 0 35px 0;
    background: linear-gradient(274deg, #ffffff, #ffffff63);
    color: #000000;
    display: inline-block;
    padding: 0px 40px 0px 95px;
    border-radius: 30px;
}
.sectitle img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 60px;
    margin-left: 6px;
}
.dtlbg{
    display: flex;
    align-items: center;
    background: linear-gradient(45deg, #ffc107, transparent);
    padding: 2px 10px;
    justify-content: space-between;
    margin-top: 10px;
}
.dtlbg img {
    height: 36px;
}
.dttbl{
background: #fff;
width: 100%;
}
.dttbl {
    background: #fff;
    width: 100%;
    color: #000;
    text-align: center;
    font-weight: 700;
    border: 1px solid #ccc;
    border-top: none;
    margin: 0px 1px;
    font-size: 12px;
}
.dttbl td{
    border: 1px solid #ccc;
    border-top: none;
}
#search-input{
margin-left: 5px;
}
.dropbtn {
    color: white;
    padding: 2px 20px;
    font-size: 16px;
    border: 2px solid #2bb2ff;
    cursor: pointer;
    background: linear-gradient(1deg, #01bce9, #00fbff);
    border-radius: 11px;
    font-weight: 800;
    transition: all .3s;
}
.dropbtn:after           { content: "\25bc";margin-left: 10px; }
.dropbtn.is-active:after { content: "\25b2";margin-left: 10px; }
.dropbtn:hover {
  background: linear-gradient(1deg, #00fbff, #01bce9);
}
.greenb {
    border: 2px solid #4CAF50;
    background: linear-gradient(1deg, #8BC34A, #4CAF50);
    margin-left: 10px;
    text-decoration: none;
        display: inline-block;
}
.greenb:after {
content: none!important;
}
.greenb:hover {
  background: linear-gradient(1deg, #4CAF50, #8BC34A);
    text-decoration: none;
    color: #fff;
}
.dropdown {
  margin-left: 20px;
  position: relative;
  display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(143, 160, 189, 0.95);
    min-width: 333px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    padding: 8px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown a:hover {background-color: #ddd;}
.showd {display: block;}
#sort-tire {
    margin-left: 5px;
    min-width: 75px;
}
#noresults {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    padding-left: 20px;
}
.cardlbl input[type="radio"] {
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
    outline: none;
    transition: transform 0.4s ease-in-out;
}
.cardlbl input[type="radio"]:checked{
    border: 1px solid #478bfb;
}
.cardlbl input[type="radio"]:checked:after{
    background-color: #478bfb;
}
.cardlbl {
    height: 42px;
    width: 50px;
    position: relative;
    display: inline-block;
}
.cardlbl label {
    position: absolute;
    margin: 4px;
    cursor: pointer;
}
.cardlbl img {
width: 80%;
display: block;
margin-left: 4px;
}
#sidebar{
	background:rgb(29, 29, 29, 0.88);
	width:400px;
	height:100%;
	display:block;
	position:fixed;
	right:-400px;
	top:0px;
	transition:right 0.3s linear;
    z-index: 100;
}
#sidebar ul {
    position: absolute;
    transform: translate(-50%, 0%);
    top: 19%;
    left: 41%;
    list-style: none;
    height: 70vh;
    overflow-y: auto;
    scrollbar-color: #212121 #dcdcdc;
    scrollbar-width: thin;
    width: 80%;
    padding-left: 22%;
}

#sidebar ul::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)!important;
	background-color: #F5F5F5!important;
    border-radius: 0px!important;
}

#sidebar ul::-webkit-scrollbar
{
	width: 6px!important;
	background-color: #F5F5F5!important;
}

#sidebar ul::-webkit-scrollbar-thumb
{
	background-color: #78A53F;
	border: 1px solid #78A53F!important;
    border-radius: 0px!important;
}

#sidebar li, #sidebar li a {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
    position: relative;
        cursor: pointer;
}
#sidebar.visible{
	right:0px;
	transition:right 0.3s linear;
}
#sidebar-btn {
    margin: 0px 2% 0px 0;
    z-index: 3;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 800;
        display: flex;
    align-items: center;

}
#sidebar-btn img {
    width: 50px;
    margin-left: 8px;
}
#sidebacls {
    position: absolute;
    right: 26px;
    top: 30px;
    margin: 0;
    z-index: 3;
    cursor: pointer;
    min-height: 30px;
    min-width: 30px;
    background: #ee9828;
    border-radius: 50%;
}
#sidebacls img {
    width: 50px;
}
.shows {
    opacity: 1!important;
    visibility: visible!important;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.hdrcon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
iframe {
    width: 100%;
    display: block;
    border: 0;
    height: 100%;
    min-height: calc(100% + 57px);
    margin-top: -31px;
    margin-bottom: -26px;    
}
.iframemarg {
    margin-top: 25px;
}
.overflow-hidden {
    overflow: hidden;
}
.h-full {
    height: 100%;
    border: 6px solid #fdab1a;
    border-radius: 20px;
    padding: 0px;
    background: transparent;
    max-height: 72vh;
}
#toTop {
    position: fixed;
    right: 15px;
    bottom: 30px;
    margin: 0;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
        width: 50px;
    cursor: pointer;  
    height: 50px;
        border-radius: 35px;
        text-align: center;
}
#toTop img {
width: 100%;
}
.showsx {
    opacity: 1!important;
    visibility: visible!important;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.gridlistcon{
display: inline-block;
margin-left: 15px;
}
.gridlist{
    display: inline-block;
    max-width: 43px;
    margin-left: 5px;
    cursor: pointer;
}
.gridlist img{
   width: 100%;
}
.sqitem {
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
    background: linear-gradient(352deg, rgb(0, 0, 0, 0.51), transparent);
    margin-bottom: 30px;
    position: relative;
    box-shadow: 1px -1px 15px 0px #000;
}
.sqitemthumb {
    width: 20%;
    padding: 20px;
    display: flex;
    align-items: center;
    background: rgb(0, 0, 0, 0.25);
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.sqitemthumb img{
width: 100%;
}
.sqitemdetails {
    width: 80%;
    padding-right: 27px;
    padding-left: 3%;
    padding-bottom: 20px;
    padding-top: 23px;
}
.sqcalcon {
    padding: 32px;
    background: rgb(0, 0, 0, 0.46);
    border-radius: 20px;
}
.sqovelay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-image: url("../images/bg.jpg");
    width: 100%;
    z-index: -1;
    background-size: cover;
    opacity: 0.8;
}



/*----------------listview------------------*/

.list:not(.active) {
    display: flex;
    width: 100%;
    border: none;
    border-bottom: 3px solid #FFC107;
    border-radius: 0;
    margin: auto 1% 24px 1%;
    padding-bottom: 5px;
    justify-content: space-evenly;
    align-items: center;
    background: none;
    flex-wrap: wrap;
	text-shadow: 0 2px 3px rgba(0, 0, 0, 0.38);
}
.list:not(.active) .tire {
    position: initial;
    display: inline-block;
    margin-right: 14px;
    vertical-align: middle;
}
.list:not(.active) .thumb {
    width: 5%;
    display: inline-block;
}
.list:not(.active) .news-txt {
    padding: 3px 10px 3px 10px;
    display: inline-block;
    height: auto;
}
.list:not(.active) .unme {
    color: #fff!important;
    text-align: center;
}
.list:not(.active) .rfact {
    position: initial;
    transform: none;
    display: inline-block;
}
.list:not(.active) .details {
    display: inline-block!important;
}
.list:not(.active) .dtlbg {
    display: inline-block;
    align-items: center;
    padding: 2px 10px;
    margin-top: 0px;
    background: none;
    vertical-align: middle;
}
.list:not(.active) .dtlitm {
       display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}
.list:not(.active) h2 {
    display: inline-block;
    vertical-align: middle;
}
.list:not(.active) .dtlbg .ppx {
    display: inline-block;
}
.list:not(.active) .dttbl {
    background: rgb(255, 255, 255, 0.22);
    color: #fff;
    border-top: 1px solid!important;
}
.list:not(.active) .dttbl td{
padding: 0px 2px;
}


@media (max-width: 1500px) {


	
}

@media (max-width: 1366px) {


	
}

@media (max-width: 1280px) {


	
}

@media (max-width: 1024px) {
.sectitle {
    padding: 0px 40px 0px 85px;
}
.list:not(.active) .news-txt {
    width: 27%;
}
.sqitemthumb {
    width: 34%;
}
	
}

@media (max-width: 990px) {
.tire {
    width: 41px;
    height: 29px;
    line-height: 26px;
    font-size: 16px;
}
.news-item {
    width: 14%;
}
.news-item.active {
    width: 58%;
}
h1 {
    font-size: 28px;
}
.h-full {
    max-height: 85vh;
}
	
}
@media (max-width: 768px) {


}

@media (max-width: 670px) {
.news-item {
    width: 28%;
    margin: auto 2% 30px 2%;
}
.list:not(.active) .news-txt {
    width: 33%;
}
.sectitle {
    padding: 0px 40px 0px 85px;
    font-size: 22px;
    
}
.news-item.active {
    width: 90%;
}
.dropdown {
    margin-left: 0px;
    position: relative;
    display: inline-block;
    margin-top: 17px;
}
.greenb{
        margin-top: 17px;
}
#search-input {
    margin-right: 10px;
}
.rfact img {
    width: 25px;
    height: auto;
}
.cardlbl {
    width: 47px;
}
.dropdown-content {
    min-width: 318px;
}
.hdrcon {
    align-items: flex-start;
    justify-content: space-between;
}
h1 {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 10px;
}
#sidebar-btn {
    margin: 0px 0% 0px 0;
    font-size: 14px;
    text-align: center;
    flex-direction: column;
}
#sidebar-btn img {
    width: 46px;
    margin-left: 0px;
            display: block;
}
.logo img {
    width: 66px;
    margin-right: 12px;
}
.dropbtn {
    font-size: 14px;
}

.list:not(.active) .thumb {
    width: 14%;
    display: inline-block;
}
.gridlistcon {
    margin-left: 10px;
}
.gridlistcon span{
    display: none;
}
.gridlist {
    margin-left: 0px;
}
.sqitem {
    flex-direction: column;
}
.sqitemthumb {
    width: 100%;
}
.sqitemthumb img {
    width: 40%;
    margin: auto;
}
.sqitemdetails {
    padding-right: 27px;
    padding-left: 27px;
    padding-bottom: 10px;
    width: 100%;
}


}

@media (max-width: 360px) {
h1 {
    font-size: 15px;
}
#sidebar-btn img {
    width: 38px;
}
.sectitle img {
    max-width: 54px;
}
.sectitle {
    padding: 0px 40px 0px 75px;
    
}
.news-item.active .unme {
    font-size: 10px;
}
.news-item h2 {
    font-size: 13px;
}
.rfact img {
    width: 20px;
    height: auto;
}
.dtlbg img {
    height: 27px;
}
.dttbl {
    font-size: 11px;
}
.unme {
    font-size: 10px;
    line-height: 10px;
}
#sidebar-btn {
    font-size: 10px;
}
#sidebar li, #sidebar li a {
    font-size: 16px;
}
.gridlistcon {
    margin-left: 0px;
    margin-top: 10px;
}
	
}